doctype

<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="css/myself.css" type="text/css" />
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />

block vars
title Zhaojh|#{title}

<script type="text/javascript" src="js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/plotly-gl3d.js"></script>

</head>
body(id="top")
    block content
    block footer
        div.container-fluid.navbar-bottom.footer
            h3 Copyright &copy; 2016-2021 Jinghao Zhao

    block script

</html>