//
   Created by MyPC on 2016/4/26.

extends _base

block vars
    -var title = "HTML5"

block content
    <br><br><br><br>
    img.zoomimg(src="images/background.jpg",alt="Hello World")
    img.zoomimg(src="images/background.jpg",alt="Hello World")
    img.zoomimg(src="images/background.jpg",alt="Hello World")
    img.zoomimg(src="images/background.jpg",alt="Hello World")
    img.zoomimg(src="images/background.jpg",alt="Hello World")
    img.zoomimg(src="images/background.jpg",alt="Hello World")
    img.zoomimg(src="images/background.jpg",alt="Hello World")
    <br><br><br><br><br><br><br><br>
    br.clean
    input(type="color")
    progress(value="66",max="100")
    input(type="search" placeholder="Hello")

    canvas#mycanvas(width="80px",height="80px")

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
