//
   Created by MyPC on 2016/4/24.


extends _base

block vars
    -var title = "Homepage"

block content

    script(type='text/javascript').
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
        //
    div#large-header(style="background-image: url('images/background.jpg');background-size:cover;clear:both;")
            canvas#demo-canvas(style="display: inline-block;position:absolute;z-index:1")
            div.col-sm-push-4(style="position:absolute;z-index:2;")
                <br><br><br><br><br><br>
                h1.mainName Jinghao Zhao
                br
                h3.mainins0 ENGINEER & DESIGNER
                h3.mainins1.text-uppercase To be an observer.
                h3.mainins1.icon
                    a.icon(href="https://github.com/anonymous-slave") &nbsp;&nbsp;
                        i.icon-github &nbsp;&nbsp;&nbsp;&nbsp;
                    a.icon(href="http://www.linkedin.com/in/%E7%92%9F%E6%B5%A9-%E8%B5%B5-2aa646b1?trk=nav_responsive_tab_profile")
                        i.icon-linkedin-sign &nbsp;&nbsp;&nbsp;&nbsp;
                    a.icon(href="http://zhaojinghao.lofter.com/")
                        i.icon-book &nbsp;&nbsp;&nbsp;&nbsp;
                    a.icon(href="mailto:zhaojinghao1996@gmail.com")
                        i.icon-envelope &nbsp;&nbsp;&nbsp;&nbsp;
                    //a.icon(type="button" ,data-toggle="popover" ,title="Contact Me" ,data-content="E-mail: ")
                        i.icon-envelope &nbsp;&nbsp;&nbsp;&nbsp;
                    //div(style="position:absolute;z-index=1")

